{% extends "base_generic.html" %}
{% block content %}
{% load static %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in post_latest %}
          {% if forloop.first %}
            <div class="post-preview">
              <p class="post-meta">
                <a href="#">
                  {% for c in post.category.all %}
                    {{ c }}
                    {% if not forloop.last %}
                      ,
                    {% endif %}
                  {% endfor %}
                </a>
              </p>
              <a href="{{ post.get_absolute_url }}">
                <h2 class="post-title">
                  {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                  {% if post.is_content_more50 %}
                    {{ post.get_content_under50 }}...
                  {% else %}
                    {{ post.content }}
                  {% endif %}
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                {{ post.createDate }}</p>
            </div>
            <hr>

          {% else %}
            <div class="post-preview">
              <p class="post-meta">
                <a href="#">
                  {% for c in post.category.all %}
                  {{ c }}
                  {% if not forloop.last %}
                  ,
                  {% endif %}
                  {% endfor %}
                </a>
              </p>
              <a href="{{ post.get_absolute_url }}">
                <h2 class="post-title">
                  {{ post.title }}
                </h2>
              </a>
              <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                {{ post.createDate }}</p>
            </div>
            <hr>
          {% endif %}
        {% endfor %}


        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

{% endblock %}