{% extends "base_generic.html" %}
{% block content%}
{% load static %}

  <!-- Page Header -->
  <header >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <p>
              <h1>{{ post.title }}</h1>
              <h3 class="subheading">
                {% for c in post.category.all %}
                {{ c }}
                {% if not forloop.last %}
                  ,
                {% endif %}
                {% endfor %}
              </h3>
            </p>
            <p>
              <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              {{ post.createDate }}</span>
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ post.content }}
        </div>
      </div>
    </div>

    {% if post.title_image %}
      <div class="post-full-width">
        <img src="{{ post.title_image.url }}" alt="">
      </div>
    {% endif %}

  </article>

  

  {% endblock %}